*{padding: 0px; margin: 0px; font-family: Arial} /* Defini tudo com margin e padding 0 */

p{
    font-size: 16px;
}

header{
    display: flex;
    justify-content: start;
    align-items: center;
}

.body_claro{
    background-color: #5596F0;
}

.header_escuro{
    background-color: #16213E;
    height: 60px;
}

.p_header_claro{
    color: white;
    margin-left: 20px;
}

/*--------------------*/

.body_escuro{
    background-color: #084093;
}

.header_claro{
    background-color: #5596F0;
}

.p_header_escuro{
    color: #084093;
    margin-left: 20px;
}

.label_claro{
    color: #5596F0;
}

.label_escuro{
    color: #084093;
}

/*--------------------*/